<div class="container">
    <div class="header">
      <h1>Lista de Usuarios y Criptomonedas</h1>
      <div class="button-group">
        <button class="transparent-button" (click)="goToInicio()">Volver</button>
      </div>
    </div>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Usuario</th>
            <th>Criptomonedas</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.nombre }}</td>
            <td>
              <table class="inner-table">
                <thead>
                  <tr>
                    <th>Criptomoneda</th>
                    <th>Simbolo</th>
                    <th>Valor en Dólares</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let moneda of user.monedas">
                    <td>{{ moneda.nombre }}</td>
                    <td>{{ moneda.simbolo }}</td>
                    <td>{{ moneda.valorEnDolares }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>