@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.login-card {
  background-color: #fff;
  padding: 50px 60px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

.login-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: left;
}

hr {
  margin-bottom: 60px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 70%;
  padding: 20px 10px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #ccc;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  display: block;
  outline: none;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.login-button {
  background-color: #ffeb3b;
  border: none;
  margin-top: 40px;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;

  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.login-button:hover {
  background-color: #fdd835;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
}

@media (max-width: 1024px) {
  .login-card {
    width: 90%; 
    padding: 30px 20px; 
  }

  .login-title {
    font-size: 1rem; 
  }

  input {
    width: 100%; 
  }

  .login-button {
    width: 80%; 
  }
}