<div class="login-container">
  <div class="login-card">
    <h2 class="login-title">Sign in</h2>
    <hr>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="text" id="username" name="username" placeholder="user name" [(ngModel)]="username" required>
      </div>
      <div class="form-group">
        <input type="password" id="password" name="password" placeholder="password" [(ngModel)]="password" required>
      </div>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      <button type="submit" class="login-button">SIGN IN</button>
    </form>
  </div>
</div>