<div class="container">
  <div class="header">
    <h1>Listar monedas disponibles</h1>
  </div>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Simbolo</th>
          <th>Nombre</th>
          <th>Tasa de cambio</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>BTC</td>
          <td>Bitcoin</td>
          <td>$61,169.02</td>
          <td></td>
        </tr>
        <tr>
          <td>2</td>
          <td>ETH</td>
          <td>Ethereum</td>
          <td>$4,485.19</td>
          <td></td>
        </tr>
        <tr>
          <td>3</td>
          <td>BNB</td>
          <td>Binance coin</td>
          <td>$601.76</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>