<div class="container">
    <div class="header">
      <h1>Lista de Usuarios</h1>
      <button class="add-coin">AGREGAR USUARIO</button>
    </div>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>
              <button class="edit" (click)="editUser(user.id)"><i class="fas fa-edit"></i></button>
              <button class="delete" (click)="deleteUser(user.id)"><i class="fas fa-trash-alt"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>