<div class="container">
    <div class="header">
      <h1>Listar servicios disponibles</h1>
    </div>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Servicio</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Listado de Usuarios</td>
            <td><button class="visit-button" (click)="goToUserList()">Visitar</button></td>
          </tr>
          <tr>
            <td>Listado de Criptomonedas por País</td>
            <td><button class="visit-button" (click)="goToCountryCoin()">Visitar</button></td>
          </tr>
          <tr>
            <td>Listado de Criptomonedas por Usuario</td>
            <td><button class="visit-button">Visitar</button></td>
          </tr>
          <tr>
            <td>Listado de Gestoras por País</td>
            <td><button class="visit-button">Visitar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
</div>