<div class="container">
  <div class="header">
    <h1>Mis monedas</h1>
    <button class="add-coin">AGREGAR MONEDA</button>
  </div>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Simbolo</th>
          <th>Nombre</th>
          <th>Tasa de cambio</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>BTC</td>
          <td>Bitcoin</td>
          <td>$61,169.02</td>
          <td>
            <button class="edit"><i class="fas fa-edit"></i></button>
            <button class="delete"><i class="fas fa-trash-alt"></i></button>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>ETH</td>
          <td>Ethereum</td>
          <td>$4,485.19</td>
          <td>
            <button class="edit"><i class="fas fa-edit"></i></button>
            <button class="delete"><i class="fas fa-trash-alt"></i></button>
          </td>
        </tr>
        <tr>
          <td>3</td>
          <td>BNB</td>
          <td>Binance coin</td>
          <td>$601.76</td>
          <td>
            <button class="edit"><i class="fas fa-edit"></i></button>
            <button class="delete"><i class="fas fa-trash-alt"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>